<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardFile">
	
	<!-- dto안에 다른 dto가 포함되어 있다면 해당 dto의 레퍼런스 변수명을 통해 property명 접근 -->
	<insert id="insert" parameterType="BoardFile">
		insert into board_file(board_file_idx, board_idx, filename)
		values(seq_board_file.nextval, #{board.board_idx}, #{filename})
	</insert>
	
	<!-- 부모의 fk를 이용하여 레코드 가져오기 -->
	<select id="selectByBoardIdx" parameterType="int" resultType="BoardFile">
		select * from board_file where board_idx=#{board_idx}
	</select>
	
	<!-- 부모의 딸려있는 레코드만 삭제 -->
	<delete id="deleteByBoardIdx">
		delete board_file where board_idx=#{board_idx}
	</delete>
	<update id="update" parameterType="BoardFile">
		update board_file set filename=#{filename}
		where board_idx=#{board_idx}
	</update>
	
</mapper>