<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="org.sp.board.domain.Board" alias="Board"/>
		<typeAlias type="org.sp.board.domain.BoardFile" alias="BoardFile"/>
		<typeAlias type="org.sp.board.domain.Admin" alias="Admin"/>
		<typeAlias type="org.sp.board.domain.Book" alias="Book"/>
		<typeAlias type="org.sp.board.domain.Dog" alias="Dog"/>

	</typeAliases>
	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/spring" />
			
			</dataSource>
		</environment>
	</environments> -->
	<mappers>
		<mapper resource="org/sp/board/mybatis/BoardMapper.xml" />
		<mapper resource="org/sp/board/mybatis/BoardFileMapper.xml" />
		<mapper resource="org/sp/board/mybatis/AdminMapper.xml" />
		<mapper resource="org/sp/board/mybatis/BookMapper.xml" />
		<mapper resource="org/sp/board/mybatis/DogMapper.xml" />

		
	</mappers>
</configuration>